{
  "openapi": "3.1.0",
  "info": {
    "title": "Amigable Cobro API",
    "version": "1.0.0",
    "description": "API REST para integración de agentes y sistemas externos con Amigable Cobro.\n\nLa autenticación se realiza mediante dos headers:\n- **X-Entity-ID**: UUID de la entidad o agente autorizado\n- **Authorization: Bearer**: Token de acceso generado desde el panel SuperAdmin\n\nAmbos son obligatorios en todos los endpoints excepto `/public/businesses`."
  },
  "servers": [
    {
      "url": "https://api-amigablecobro.amacruxlab.com/api/v1",
      "description": "Producción"
    }
  ],
  "components": {
    "securitySchemes": {
      "EntityId": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Entity-ID",
        "description": "UUID de la entidad o agente autorizado"
      },
      "BearerToken": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "Token de acceso con formato: Bearer <token>"
      }
    },
    "schemas": {
      "SuccessResponse": {
        "type": "object",
        "properties": {
          "success": { "type": "boolean", "example": true },
          "message": { "type": "string", "example": "Operación completada exitosamente." },
          "data": { "type": "object" }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "success": { "type": "boolean", "example": false },
          "message": { "type": "string" },
          "error_code": { "type": "string" }
        }
      },
      "Business": {
        "type": "object",
        "properties": {
          "uuid": { "type": "string", "format": "uuid", "example": "b206bc66-758b-4c8a-87e0-cf85395e57d7" },
          "name": { "type": "string", "example": "Mi Negocio S.A." },
          "whatsapp_phone": { "type": "string", "nullable": true, "example": "+584241234567" }
        }
      },
      "Transaction": {
        "type": "object",
        "properties": {
          "id": { "type": "integer", "example": 1 },
          "client_name": { "type": "string", "example": "Leonardo Morales" },
          "client_phone": { "type": "string", "example": "+584244095405" },
          "client_document": { "type": "string", "example": "V-25452265" },
          "total_amount": { "type": "number", "format": "float", "example": 100.00 },
          "paid_amount": { "type": "number", "format": "float", "example": 10.00 },
          "status": { "type": "string", "example": "PENDING" },
          "due_date": { "type": "string", "format": "date-time" },
          "created_at": { "type": "string", "format": "date-time" },
          "payments": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/Payment" }
          }
        }
      },
      "Payment": {
        "type": "object",
        "properties": {
          "id": { "type": "integer", "example": 1 },
          "amount": { "type": "number", "format": "float", "example": 10.00 },
          "payment_method": { "type": "string", "example": "CASH" },
          "payment_date": { "type": "string", "format": "date-time" }
        }
      },
      "KPIs": {
        "type": "object",
        "properties": {
          "total_emitted": { "type": "number", "example": 1500.00 },
          "total_collected": { "type": "number", "example": 850.00 },
          "total_pending": { "type": "number", "example": 650.00 },
          "collection_rate": { "type": "number", "example": 56.7 },
          "active_accounts": { "type": "integer", "example": 12 },
          "paid_accounts": { "type": "integer", "example": 8 }
        }
      },
      "CalendarEvent": {
        "type": "object",
        "properties": {
          "date": { "type": "string", "format": "date", "example": "2026-06-15" },
          "total_expected": { "type": "number", "example": 500.00 },
          "total_collected": { "type": "number", "example": 200.00 },
          "events": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "transaction_id": { "type": "integer", "example": 5 },
                "client_name": { "type": "string", "example": "María García" },
                "amount": { "type": "number", "example": 500.00 },
                "status": { "type": "string", "example": "PARTIAL" }
              }
            }
          }
        }
      },
      "CreateCollectionInput": {
        "type": "object",
        "required": ["business_uuid", "client_name", "total_amount", "due_date"],
        "properties": {
          "business_uuid": { "type": "string", "format": "uuid", "example": "b206bc66-758b-4c8a-87e0-cf85395e57d7" },
          "client_name": { "type": "string", "example": "Juan Pérez" },
          "client_phone": { "type": "string", "example": "+584140000000" },
          "client_document": { "type": "string", "example": "V12345678" },
          "total_amount": { "type": "number", "format": "float", "example": 250.00 },
          "due_date": { "type": "string", "format": "date-time", "example": "2026-08-15T00:00:00Z" }
        }
      },
      "AddPaymentInput": {
        "type": "object",
        "required": ["business_uuid", "amount", "payment_method"],
        "properties": {
          "business_uuid": { "type": "string", "format": "uuid", "example": "b206bc66-758b-4c8a-87e0-cf85395e57d7" },
          "amount": { "type": "number", "format": "float", "example": 100.00 },
          "payment_method": { "type": "string", "enum": ["CASH", "TRANSFER", "POS", "ZELLE", "PAYPAL", "OTHER"], "example": "TRANSFER" },
          "payment_date": { "type": "string", "format": "date-time", "example": "2026-06-24T14:30:00Z" }
        }
      },
      "UpdateStatusInput": {
        "type": "object",
        "required": ["business_uuid", "status"],
        "properties": {
          "business_uuid": { "type": "string", "format": "uuid", "example": "b206bc66-758b-4c8a-87e0-cf85395e57d7" },
          "status": { "type": "string", "enum": ["PENDING", "PAID", "OVERDUE", "CANCELLED"], "example": "PAID" }
        }
      },
      "PaginatedMeta": {
        "type": "object",
        "properties": {
          "total": { "type": "integer", "example": 50 },
          "current_page": { "type": "integer", "example": 1 },
          "last_page": { "type": "integer", "example": 5 }
        }
      }
    }
  },
  "security": [
    { "EntityId": [], "BearerToken": [] }
  ],
  "paths": {
    "/public/businesses": {
      "get": {
        "tags": ["Directorio Público"],
        "summary": "Listar negocios activos",
        "description": "No requiere autenticación. Devuelve todos los negocios activos con su UUID, nombre y WhatsApp.",
        "security": [],
        "responses": {
          "200": {
            "description": "Lista de negocios activos",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "example": true },
                    "data": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/Business" }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/collections": {
      "get": {
        "tags": ["Colecciones"],
        "summary": "Listar cuentas por cobrar",
        "description": "Obtiene todas las transacciones de un negocio con paginación y filtros opcionales.",
        "parameters": [
          {
            "name": "business_uuid",
            "in": "query",
            "required": true,
            "schema": { "type": "string", "format": "uuid" },
            "example": "b206bc66-758b-4c8a-87e0-cf85395e57d7",
            "description": "UUID del negocio"
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": { "type": "string", "enum": ["PENDING", "PAID"] },
            "description": "Filtrar por estado"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": { "type": "integer", "minimum": 1 },
            "description": "Número de página"
          }
        ],
        "responses": {
          "200": {
            "description": "Lista paginada de transacciones",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "example": true },
                    "data": {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": { "$ref": "#/components/schemas/Transaction" }
                        },
                        "meta": { "$ref": "#/components/schemas/PaginatedMeta" }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": { "description": "Credenciales inválidas o faltantes" },
          "422": { "description": "Error de validación" }
        }
      },
      "post": {
        "tags": ["Colecciones"],
        "summary": "Crear cuenta por cobrar",
        "description": "Registra una nueva cuenta por cobrar en el sistema.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CreateCollectionInput" }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Cuenta creada exitosamente",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "example": true },
                    "message": { "type": "string", "example": "Cuenta creada" },
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": { "type": "integer", "example": 10 }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/collections/{id}": {
      "get": {
        "tags": ["Colecciones"],
        "summary": "Obtener cuenta por cobrar",
        "description": "Devuelve los detalles de una transacción específica incluyendo sus pagos asociados.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "integer" },
            "description": "ID de la transacción"
          },
          {
            "name": "business_uuid",
            "in": "query",
            "required": true,
            "schema": { "type": "string", "format": "uuid" },
            "example": "b206bc66-758b-4c8a-87e0-cf85395e57d7",
            "description": "UUID del negocio"
          }
        ],
        "responses": {
          "200": {
            "description": "Detalle de la transacción",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "example": true },
                    "data": { "$ref": "#/components/schemas/Transaction" }
                  }
                }
              }
            }
          },
          "404": { "description": "Transacción no encontrada" }
        }
      }
    },
    "/collections/{id}/payments": {
      "post": {
        "tags": ["Colecciones"],
        "summary": "Registrar pago",
        "description": "Registra un pago parcial o total a una cuenta por cobrar existente.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "integer" },
            "description": "ID de la transacción"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/AddPaymentInput" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Pago registrado exitosamente",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "example": true },
                    "message": { "type": "string", "example": "Pago registrado" },
                    "data": {
                      "type": "object",
                      "properties": {
                        "new_paid_amount": { "type": "number", "example": 60.00 },
                        "new_status": { "type": "string", "example": "PARTIAL" }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": { "description": "La cuenta ya está pagada" },
          "404": { "description": "Transacción no encontrada" }
        }
      }
    },
    "/collections/{id}/status": {
      "put": {
        "tags": ["Colecciones"],
        "summary": "Actualizar estado",
        "description": "Cambia el estado de una cuenta por cobrar (PENDING, PAID, OVERDUE, CANCELLED).",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "integer" },
            "description": "ID de la transacción"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/UpdateStatusInput" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Estado actualizado exitosamente"
          },
          "404": { "description": "Transacción no encontrada" }
        }
      }
    },
    "/analytics/kpis": {
      "get": {
        "tags": ["Estadísticas"],
        "summary": "Obtener KPIs",
        "description": "Indicadores clave de rendimiento para un negocio: montos emitidos, cobrados, pendientes y tasa de cobranza.",
        "parameters": [
          {
            "name": "business_uuid",
            "in": "query",
            "required": true,
            "schema": { "type": "string", "format": "uuid" },
            "example": "b206bc66-758b-4c8a-87e0-cf85395e57d7",
            "description": "UUID del negocio"
          },
          {
            "name": "period",
            "in": "query",
            "required": false,
            "schema": { "type": "string", "enum": ["today", "this_week", "this_month", "this_year", "all_time"] },
            "description": "Periodo de análisis"
          }
        ],
        "responses": {
          "200": {
            "description": "Indicadores KPIs",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "example": true },
                    "data": { "$ref": "#/components/schemas/KPIs" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/calendar/events": {
      "get": {
        "tags": ["Calendario"],
        "summary": "Eventos de calendario",
        "description": "Obtiene eventos de cobro agrupados por día para un mes y año específicos.",
        "parameters": [
          {
            "name": "business_uuid",
            "in": "query",
            "required": true,
            "schema": { "type": "string", "format": "uuid" },
            "example": "b206bc66-758b-4c8a-87e0-cf85395e57d7",
            "description": "UUID del negocio"
          },
          {
            "name": "month",
            "in": "query",
            "required": true,
            "schema": { "type": "integer", "minimum": 1, "maximum": 12 },
            "example": 6,
            "description": "Mes (1-12)"
          },
          {
            "name": "year",
            "in": "query",
            "required": true,
            "schema": { "type": "integer", "minimum": 2020, "maximum": 2100 },
            "example": 2026,
            "description": "Año"
          }
        ],
        "responses": {
          "200": {
            "description": "Eventos agrupados por día",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "example": true },
                    "data": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/CalendarEvent" }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}